<div class="website-types-container">
    <div>
        <ul class="category-menu">
            <li><a id="game-query">Game</a></li>
            <li><a id="simulation-query">Simulation</a></li>
            <li><a id="puzzle-query">Puzzle</a></li>
            <li><a id="music-query">Music</a></li>
            <li><a id="art-query">Art</a></li>
            <li><a id="dumb fun-query">Dumb Fun</a></li>
            <li><a id="reading-query">Reading</a></li>
            <li><a id="educational-query">Educational</a></li>
            <li><a id="sound-query">Sound</a></li>
            
            
            <li><a id="all-query">All</a></li>
            <div id="close-button">x</div>
        </ul>
    </div>
</div>

<div class="game-query-popup">
    <div>
        ...
    </div>
</div>


<div id="footer">
    Contact: <a href="mailto:dazifycontact@gmail.com">dazifycontact@gmail.com</a> •
    <a href="/">Terms of Service</a> •
    <a href="/">Privacy Policy</a>
</div>
    