<div class="website-types-container">
    <div>
        <ul class="category-menu">
            <li><a id="game-query">Game</a></li>
            <li><a id="simulation-query">Simulation</a></li>
            <li><a id="puzzle-query">Puzzle</a></li>
            <li><a id="music-query">Music</a></li>
            <li><a id="art-query">Art</a></li>
            <li><a id="all-query">Random</a></li>
            <div id="close-button">x</div>
        </ul>
    </div>
</div>

<div class="game-query-popup">
    <div>
        ...
    </div>
</div>
    