<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Dazify</title>

    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/menuButton.css">
    <link rel="stylesheet" href="./styles/optionMenu.css">
    <link rel="stylesheet" href="./styles/categories.css">

</head>
<body>
    <div id="daze-menu-container">
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a id="category-button" style="cursor: pointer;">Categories</a></li>
            <li><a href="/suggest">Suggest a site</a></li>
        </ul>
    </div>

    <%- include('./global/global') %>


    <div id="daze-menu-button">≡</div>

    <div class="main-container">
        <div id="daze-button">
            <a href="/random"><img id="daze-image" src="./images/Daze.PNG"></a>
        </div>

        <div class="introduction-container">
            <p id="header-title">About</p>
            <h1>Website inspired by: <a target="_blank" href="https://www.boredbutton.com/">Bored Button</a></h1>
            <h2>Help you to discover intresting sites to help cure boredom.</h2>
        </div>

        
    </div>


    <script type="module" src="./javascripts/randomURL.js"></script>
    <script type="module" src="./javascripts/optionsMenu.js"></script>
    <script type="module" src="./javascripts/category.js"></script>
    <script type="module" src="./javascripts/query.js"></script>
    <script type="module" src="./javascripts/global.js"></script>
</body>
</html>