<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dazify</title>
    
    <%- include('./global/icon') %>

    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/menuButton.css">
    <link rel="stylesheet" href="./styles/optionMenu.css">
    <link rel="stylesheet" href="./styles/categories.css">
</head>
<body>
    <div id="daze-menu-container">
        <ul>
            <li><a id="category-button" style="cursor: pointer;">Categories</a></li>
            <li><a href="/suggest">Suggest a site</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    
    <%- include('./global/global') %>

    <div id="daze-menu-button">≡</div>
    
    
    <div class="main-container">
        <div id="daze-button">
            <a href="/random"><img id="daze-image" src="./images/Daze.PNG"></a>
        </div>

        <div class="introduction-container">
            <p id="header-title">Looking for something to do?</p>
            <h1>Click on the spiral to dazify!</h1>
            <h2>Press C to open categories</h2>
        </div>
    </div>

    <script type="module" src="./javascripts/optionsMenu.js"></script>
    <script type="module" src="./javascripts/category.js"></script>
    <script type="module" src="./javascripts/query.js"></script>
    <script type="module" src="./javascripts/global.js"></script>
</body>
</html>