<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestion - Dazify</title>

    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/menuButton.css">
    <link rel="stylesheet" href="./styles/optionMenu.css">
    <link rel="stylesheet" href="./styles/suggest.css">
    <link rel="stylesheet" href="./styles/categories.css">

</head>
<body>
    <div id="daze-menu-container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a id="category-button" style="cursor: pointer;">Categories</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>

    <%- include('./global/global') %>


    <div id="daze-menu-button">≡</div>

    <div class="main-container">
        <div id="daze-button">
            <a href="/random"><img id="daze-image" src="./images/Daze.PNG"></a>
        </div>

        <div class="introduction-container">
            <p id="header-title">Want to share a fun friendly site?</p>
            <h1>Consider filling in the Google Form: <a href="https://docs.google.com/forms/d/e/1FAIpQLSe00l3fAlMJGKlkivE3dHd8Gt8zWK0HYw3jDIce2tPEwtpaeg/viewform?usp=header" target="_blank">FORM</a> </h1>
        </div>
    </div>

    <script type="module" src="./javascripts/randomURL.js"></script>
    <script type="module" src="./javascripts/optionsMenu.js"></script>
    <script type="module" src="./javascripts/category.js"></script>
    <script type="module" src="./javascripts/query.js"></script>
    <script type="module" src="./javascripts/global.js"></script>

</html>